<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Add new device</h5>
        <div class="card-text">
            <form (ngSubmit)="onSubmit()" #deviceForm="ngForm">
            <div class="form-group">
                <label for="id">Id(24 digit hex):</label>
                <input type="text" class="form-control" id="id" 
                 [(ngModel)]="model.id" name="id" />
            </div>
            <div class="form-group">
                <label for="name">Device Name:</label>
                <input type="text" class="form-control" id="name" 
                [(ngModel)]="model.name" name="name" />
                <input type="hidden" class="form-control" id="status" 
                [(ngModel)]="model.status" name="status" />
            </div>
            <button type="submit" class="btn btn-primary">Add Device</button>
            </form>
        </div>
    </div>
</div>
